# Statistical distribution
lundberg.oscar@gmail.com

In [2]:
import pandas as pd
import os

In [7]:
filename = os.path.join("data", "StatisticalData.csv")
print(pd.read_csv(filename, header=[0]).columns)
df = pd.read_csv(filename, header=[1])
print(f"Length of df: {len(df)}")
df.head()

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2',
       'The predicted value of target variable from ML model', 'Unnamed: 4',
       'Unnamed: 5', 'August Grade 1 is School month 1',
       'Percentile based on a distribution and estimated parameters'],
      dtype='object')
Length of df: 5491

,Grade,pupilId,screeningId,WCPM_aloud_pred,date,Screening month,School month,Percentile
0,1,a378106a-79c6-4b46-a92c-a23dc2fb81b1,808b6a03-c86d-4538-a556-9d86241ff27f,74.743744,Recording date: 2019-02-12 (UTC),2,7,86
1,1,a378106a-79c6-4b46-a92c-a23dc2fb81b1,808b6a03-c86d-4538-a556-9d86241ff27f,49.012463,Recording date: 2019-02-12 (UTC),2,7,60
2,1,d3f36cb4-a2fe-485d-9962-dc82bb5954d3,1a380112-130f-4c03-9fcf-517ec645fd74,38.814514,Recording date: 2019-05-15 (UTC),5,10,28
3,1,d3f36cb4-a2fe-485d-9962-dc82bb5954d3,1a380112-130f-4c03-9fcf-517ec645fd74,57.714653,Recording date: 2019-05-15 (UTC),5,10,46
4,1,8cedcb42-c0d3-4223-93bf-49806e4fed5e,00c85570-93d9-4bde-af82-f4be82966205,131.113900,Recording date: 2019-05-29 (UTC),5,10,97

# a)

In [6]:
students  = df.groupby('Grade')['pupilId'].nunique()
sessions  = df.groupby('Grade')['screeningId'].nunique()

d = {'Number of screening sessions': sessions, 
     'Number of students': students}
df_result = pd.DataFrame(d)
df_result.T.head()

Grade                           1    2     3    4    5    6    7    8
Number of screening sessions  188  760  1830  781  695  595  194  171
Number of students            171  532   932  547  439  368  158  149

## b)

In [4]:
print(df["Screening month"].unique())
screening_months = [[13, 17],
                    [18, 24],
                    [25, 29],
                    [30, 37],
                    [38, 41],
                    [42, 48]]
screening_months = [[1,5],[6,10],[10,13]]

df_2 = pd.DataFrame(columns=["Mu", 
                             "Sigma", 
                             "Number of observations", 
                             "Screening month"])

for screening_month in screening_months:
    df_tmp = df[df['Screening month'].between(*screening_month)]
    n_observation = len(df_tmp)
    mu = df_tmp["WCPM_aloud_pred"].mean()
    sigma = df_tmp["WCPM_aloud_pred"].std()
    df_2 = df_2.append({"Mu": mu, 
                        "Sigma": sigma, 
                        "Number of observations":n_observation,
                        "Screening month": f"{screening_month[0]} - {screening_month[1]}"}, 
                        ignore_index=True)
                    
df_2.index = df_2["Screening month"]
df_2 = df_2.drop("Screening month", axis=1)
df_2.head().T

[ 2  5  9  1  6  3 11 12 10  4  7]

Screening month              1 - 5      6 - 10     10 - 13
Mu                      120.760475  113.160552  110.500512
Sigma                    46.700514     51.6899   49.665635
Number of observations        1799        2904        2441